<div class="row">
  <%= image_tag("church/1.jpg", alt: "foto-1", class: "img-thumbnail") %>
  <%= image_tag("church/2.jpg", alt: "foto-2", :class => "img-responsive") %>
  <%= image_tag("church/3.jpg", alt: "foto-3", :class => "img-responsive") %>
  <%= image_tag("church/4.jpg", alt: "foto-4", :class => "img-thumbnail") %>
  <%= image_tag("church/5.jpg", alt: "foto-5", :class => "img-thumbnail") %>
  <%= image_tag("church/6.jpg", alt: "foto-6", :class => "img-thumbnail") %>
  <%= image_tag("church/7.jpg", alt: "foto-7", :class => "img-thumbnail") %>
  <%= image_tag("church/8.jpg", alt: "foto-8", :class => "img-thumbnail") %>
</div>