<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to image_tag("LOS-ENG.png", alt: "Light of salvation"), 'http://www.svitlo-spas.narod.ru/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "News",    news_path %></li>
          <li><%= link_to "History", history_path %></li>
          <li><%= link_to "Foto",    foto_path %></li>
          <li><%= link_to "Video",   video_path %></li>
          <li><%= link_to "Poetry",  poetry_path %></li>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>